<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=euc-jp">
<title>最新ニュース</title>
<STYLE TYPE="text/css">
<!--
	A:link			{ color:#336699;}
	A:visited			{ color:#666666;}
	A:hover,A:active	{ color:#CC0000; }
	.contents { font-size: 8pt; font-family:verdana, helvetica;line-height: 140%; }
// -->
</STYLE>
</head>

<body TEXT="#000000" LINK="#336699" ALINK="#CC0000" VLINK="#003366" BGCOLOR="#FFFFFF">

<table width="160" cellpadding="0" cellspacing="0" border="0">
@@LIST
</table>
</body>
</html>
